@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Nunito:800');

body{
    font-family: 'Nunito:800', sans-serif;
    color: blueviolet;
    font-size: 4vw;
}